In [1]:
import numpy as np
import pandas as pd
import tailor
from tailor import data
from tailor import features

In [2]:
df = data.load_csv()

In [3]:
df = df.head()

In [4]:
df = data.transform_datatypes(df)

In [5]:
df.head()

,article_id,transaction_date,markdown_start_date,markdown_end_date,original_price,sells_price,discount,markdown,article_count,season,brand,color,stock_total,avq,Abteilung,WHG,WUG,time_on_sale,revenue
0,900001,2014-03-27,2013-10-18,2014-05-31,59.95,53.95,6.0,0.0,2,Sommer,Fimmilena,mittelbraun,1499,0.133422,Abteilung005,WHG021,WUG073,0,107.90
1,900001,2014-03-28,2013-10-18,2014-05-31,59.95,59.95,0.0,0.0,2,Sommer,Fimmilena,mittelbraun,1499,0.266845,Abteilung005,WHG021,WUG073,1,119.90
2,900001,2014-03-29,2013-10-18,2014-05-31,59.95,59.95,0.0,0.0,3,Sommer,Fimmilena,mittelbraun,1499,0.466978,Abteilung005,WHG021,WUG073,2,179.85
3,900001,2014-03-31,2013-10-18,2014-05-31,59.95,59.55,0.4,0.0,5,Sommer,Fimmilena,mittelbraun,1499,0.800534,Abteilung005,WHG021,WUG073,4,297.75
4,900001,2014-04-01,2013-10-18,2014-05-31,59.95,59.95,0.0,0.0,6,Sommer,Fimmilena,mittelbraun,1499,1.200801,Abteilung005,WHG021,WUG073,5,359.70

In [6]:
df = features.build_features.weeks_on_sale(df)

finished building weeks_on_sale

In [7]:
df = features.build_features.date_info(df)

finished building season_buy
finished building month
finished building weekday

In [8]:
df.head()

,article_id,transaction_date,markdown_start_date,markdown_end_date,original_price,sells_price,discount,markdown,article_count,season,...,avq,Abteilung,WHG,WUG,time_on_sale,revenue,weeks_on_sale,season_buy,month,weekday
0,900001,2014-03-27,2013-10-18,2014-05-31,59.95,53.95,6.0,0.0,2,Sommer,...,0.133422,Abteilung005,WHG021,WUG073,0,107.90,0,Spring,Mar,Thu
1,900001,2014-03-28,2013-10-18,2014-05-31,59.95,59.95,0.0,0.0,2,Sommer,...,0.266845,Abteilung005,WHG021,WUG073,1,119.90,0,Spring,Mar,Fri
2,900001,2014-03-29,2013-10-18,2014-05-31,59.95,59.95,0.0,0.0,3,Sommer,...,0.466978,Abteilung005,WHG021,WUG073,2,179.85,0,Spring,Mar,Sat
3,900001,2014-03-31,2013-10-18,2014-05-31,59.95,59.55,0.4,0.0,5,Sommer,...,0.800534,Abteilung005,WHG021,WUG073,4,297.75,0,Spring,Mar,Mon
4,900001,2014-04-01,2013-10-18,2014-05-31,59.95,59.95,0.0,0.0,6,Sommer,...,1.200801,Abteilung005,WHG021,WUG073,5,359.70,0,Spring,Apr,Tue

In [9]:
df = features.build(df)

finished building weeks_on_sale
finished building season_buy
finished building month
finished building weekday

In [10]:
df.head()

,article_id,transaction_date,markdown_start_date,markdown_end_date,original_price,sells_price,discount,markdown,article_count,season,...,avq,Abteilung,WHG,WUG,time_on_sale,revenue,weeks_on_sale,season_buy,month,weekday
0,900001,2014-03-27,2013-10-18,2014-05-31,59.95,53.95,6.0,0.0,2,Sommer,...,0.133422,Abteilung005,WHG021,WUG073,0,107.90,0,Spring,Mar,Thu
1,900001,2014-03-28,2013-10-18,2014-05-31,59.95,59.95,0.0,0.0,2,Sommer,...,0.266845,Abteilung005,WHG021,WUG073,1,119.90,0,Spring,Mar,Fri
2,900001,2014-03-29,2013-10-18,2014-05-31,59.95,59.95,0.0,0.0,3,Sommer,...,0.466978,Abteilung005,WHG021,WUG073,2,179.85,0,Spring,Mar,Sat
3,900001,2014-03-31,2013-10-18,2014-05-31,59.95,59.55,0.4,0.0,5,Sommer,...,0.800534,Abteilung005,WHG021,WUG073,4,297.75,0,Spring,Mar,Mon
4,900001,2014-04-01,2013-10-18,2014-05-31,59.95,59.95,0.0,0.0,6,Sommer,...,1.200801,Abteilung005,WHG021,WUG073,5,359.70,0,Spring,Apr,Tue