# Tailorit - Data Exploration

### Import required packages

In [42]:
# Display plots inline
%matplotlib inline

# Autoreload all package before excecuting a call
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [43]:
import numpy as np
import pandas as pd

import tailor

### Load data

In [65]:
df = tailor.load_data()

### Get an overview over the dataset

In [46]:
df.head(20)

,article_id,transaction_date,markdown_start_date,markdown_end_date,original_price,sells_price,discount,markdown,article_count,season,brand,color,stock_total,avq,Abteilung,WHG,WUG,time_on_sale,revenue
0,900001,2014-03-27,2013-10-18,2014-05-31,59.95,53.95,6.00,0.0,2,Sommer,Fimmilena,mittelbraun,1499,0.133422,Abteilung005,WHG021,WUG073,0,107.90
1,900001,2014-03-28,2013-10-18,2014-05-31,59.95,59.95,0.00,0.0,2,Sommer,Fimmilena,mittelbraun,1499,0.266845,Abteilung005,WHG021,WUG073,1,119.90
2,900001,2014-03-29,2013-10-18,2014-05-31,59.95,59.95,0.00,0.0,3,Sommer,Fimmilena,mittelbraun,1499,0.466978,Abteilung005,WHG021,WUG073,2,179.85
3,900001,2014-03-31,2013-10-18,2014-05-31,59.95,59.55,0.40,0.0,5,Sommer,Fimmilena,mittelbraun,1499,0.800534,Abteilung005,WHG021,WUG073,4,297.75
4,900001,2014-04-01,2013-10-18,2014-05-31,59.95,59.95,0.00,0.0,6,Sommer,Fimmilena,mittelbraun,1499,1.200801,Abteilung005,WHG021,WUG073,5,359.70
5,900001,2014-04-02,2013-10-18,2014-05-31,59.95,59.95,0.00,0.0,4,Sommer,Fimmilena,mittelbraun,1499,1.467645,Abteilung005,WHG021,WUG073,6,239.80
6,900001,2014-04-03,2013-10-18,2014-05-31,59.95,58.59,1.36,0.0,4,Sommer,Fimmilena,mittelbraun,1499,1.734490,Abteilung005,WHG021,WUG073,7,234.36
7,900001,2014-04-04,2013-10-18,2014-05-31,59.95,59.95,0.00,0.0,7,Sommer,Fimmilena,mittelbraun,1499,2.201468,Abteilung005,WHG021,WUG073,8,419.65
8,900001,2014-04-05,2013-10-18,2014-05-31,59.95,59.95,0.00,0.0,13,Sommer,Fimmilena,mittelbraun,1499,3.068712,Abteilung005,WHG021,WUG073,9,779.35
9,900001,2014-04-06,2013-10-18,2014-05-31,59.95,59.95,0.00,0.0,2,Sommer,Fimmilena,mittelbraun,1499,3.202135,Abteilung005,WHG021,WUG073,10,119.90
10,900001,2014-04-07,2013-10-18,2014-05-31,59.95,59.95,0.00,0.0,6,Sommer,Fimmilena,mittelbraun,1499,3.602402,Abteilung005,WHG021,WUG073,11,359.70
11,900001,2014-04-08,2013-10-18,2014-05-31,59.95,59.95,0.00,0.0,3,Sommer,Fimmilena,mittelbraun,1499,3.802535,Abteilung005,WHG021,WUG073,12,179.85
12,900001,2014-04-09,2013-10-18,2014-05-31,59.95,59.95,0.00,0.0,4,Sommer,Fimmilena,mittelbraun,1499,4.069380,Abteilung005,WHG021,WUG073,13,239.80
13,900001,2014-04-10,2013-10-18,2014-05-31,59.95,59.95,0.00,0.0,6,Sommer,Fimmilena,mittelbraun,1499,4.469646,Abteilung005,WHG021,WUG073,14,359.70
14,900001,2014-04-11,2013-10-18,2014-05-31,59.95,59.95,0.00,0.0,4,Sommer,Fimmilena,mittelbraun,1499,4.736491,Abteilung005,WHG021,WUG073,15,239.80
15,900001,2014-04-12,2013-10-18,2014-05-31,59.95,59.35,0.60,0.0,5,Sommer,Fimmilena,mittelbraun,1499,5.070047,Abteilung005,WHG021,WUG073,16,296.75
16,900001,2014-04-14,2013-10-18,2014-05-31,59.95,57.55,2.40,0.0,5,Sommer,Fimmilena,mittelbraun,1499,5.403602,Abteilung005,WHG021,WUG073,18,287.75
17,900001,2014-04-15,2013-10-18,2014-05-31,59.95,59.95,0.00,0.0,8,Sommer,Fimmilena,mittelbraun,1499,5.937292,Abteilung005,WHG021,WUG073,19,479.60
18,900001,2014-04-16,2013-10-18,2014-05-31,59.95,56.95,3.00,0.0,4,Sommer,Fimmilena,mittelbraun,1499,6.204136,Abteilung005,WHG021,WUG073,20,227.80
19,900001,2014-04-17,2013-10-18,2014-05-31,59.95,56.62,3.33,0.0,3,Sommer,Fimmilena,mittelbraun,1499,6.404270,Abteilung005,WHG021,WUG073,21,169.86

In [72]:
pd.options.display.float_format = "{:.2f}".format
df.describe(include=np.number)

,original_price,sells_price,discount,markdown,article_count,stock_total,avq,time_on_sale,revenue
count,1131329.00,1131329.00,1131329.00,1131329.00,1131329.00,1131329.00,1131329.00,1131329.00,1131329.00
mean,51.33,43.87,2.58,4.88,8.52,2162.84,30.12,87.38,317.27
std,22.19,20.50,5.73,9.43,10.84,1960.91,22.89,50.69,385.77
min,9.95,-47.96,-99.96,-19.00,1.00,106.00,0.00,0.00,-47.96
25%,35.95,29.34,0.00,0.00,2.00,910.00,10.24,44.00,86.28
50%,49.95,39.95,0.28,0.00,5.00,1737.00,26.28,86.00,190.95
75%,64.95,58.02,2.50,10.00,11.00,2956.00,46.08,130.00,397.12
max,179.95,199.91,129.96,90.00,281.00,36396.00,100.25,181.00,13403.60

In [68]:
df.describe(include=['category'])

,article_id,season,brand,color,Abteilung,WHG,WUG
count,1131329,1131329,1131329,1131329,1131329,1131329,1131329
unique,8708,2,75,40,7,43,152
top,900486,Sommer,Fimmilena,schwarz,Abteilung002,WHG015,WUG053
freq,173,608555,80414,241952,498997,127617,51719

### Check for null values

In [71]:
df.isna().values.any()

False

Wow, we're in luck, there are no null values in the dataset!