In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tailor

In [2]:
data_raw = tailor.load_data()

In [3]:
data_raw.head()

,article_id,transaction_date,markdown_start_date,markdown_end_date,original_price,sells_price,discount,markdown,article_count,season,brand,color,stock_total,avq,Abteilung,WHG,WUG,time_on_sale,revenue
0,900001,2014-03-27,2013-10-18,2014-05-31,59.95,53.95,6.0,0.0,2,Sommer,Fimmilena,mittelbraun,1499,0.133422,Abteilung005,WHG021,WUG073,0,107.90
1,900001,2014-03-28,2013-10-18,2014-05-31,59.95,59.95,0.0,0.0,2,Sommer,Fimmilena,mittelbraun,1499,0.266845,Abteilung005,WHG021,WUG073,1,119.90
2,900001,2014-03-29,2013-10-18,2014-05-31,59.95,59.95,0.0,0.0,3,Sommer,Fimmilena,mittelbraun,1499,0.466978,Abteilung005,WHG021,WUG073,2,179.85
3,900001,2014-03-31,2013-10-18,2014-05-31,59.95,59.55,0.4,0.0,5,Sommer,Fimmilena,mittelbraun,1499,0.800534,Abteilung005,WHG021,WUG073,4,297.75
4,900001,2014-04-01,2013-10-18,2014-05-31,59.95,59.95,0.0,0.0,6,Sommer,Fimmilena,mittelbraun,1499,1.200801,Abteilung005,WHG021,WUG073,5,359.70

In [4]:
# checking whether there are any NaN cells
data_raw.isnull().sum()

article_id             0
transaction_date       0
markdown_start_date    0
markdown_end_date      0
original_price         0
sells_price            0
discount               0
markdown               0
article_count          0
season                 0
brand                  0
color                  0
stock_total            0
avq                    0
Abteilung              0
WHG                    0
WUG                    0
time_on_sale           0
revenue                0
dtype: int64

In [5]:
data_raw.min()

article_id                          900001
transaction_date       2014-01-02 00:00:00
markdown_start_date    2008-09-01 00:00:00
markdown_end_date      2014-01-31 00:00:00
original_price                        9.95
sells_price                         -47.96
discount                            -99.96
markdown                               -19
article_count                            1
season                              Sommer
brand                           Abiamarcae
color                                beige
stock_total                            106
avq                                      0
Abteilung                     Abteilung001
WHG                                 WHG001
WUG                                 WUG001
time_on_sale                             0
revenue                             -47.96
dtype: object

In [6]:
data_raw.max()

article_id                          908708
transaction_date       2017-03-08 00:00:00
markdown_start_date    2017-02-09 00:00:00
markdown_end_date      2018-12-31 00:00:00
original_price                      179.95
sells_price                         199.91
discount                            129.96
markdown                                90
article_count                          281
season                              Winter
brand                  Þorgerðr Holgabrúðr
color                      weiss / schwarz
stock_total                          36396
avq                                100.248
Abteilung                     Abteilung007
WHG                                 WHG043
WUG                                 WUG152
time_on_sale                           181
revenue                            13403.6
dtype: object

In [7]:
# checking whether article_id unique count matches with min max values
np.count_nonzero(data_raw.article_id.unique())

8708

In [8]:
# describe() is pretty useless for transaction_date, markdown_start_date, markdown_end_date

In [9]:
# change float format for better readability, without it describe() shows x.xxxxxxxxxe+xx
pd.options.display.float_format = "{:.2f}".format
# the 50% of the describe output is the median
data_raw.original_price.describe()

count   1131329.00
mean         51.33
std          22.19
min           9.95
25%          35.95
50%          49.95
75%          64.95
max         179.95
Name: original_price, dtype: float64

In [10]:
data_raw.sells_price.describe()

count   1131329.00
mean         43.87
std          20.50
min         -47.96
25%          29.34
50%          39.95
75%          58.02
max         199.91
Name: sells_price, dtype: float64

In [11]:
data_raw.discount.describe()

count   1131329.00
mean          2.58
std           5.73
min         -99.96
25%           0.00
50%           0.28
75%           2.50
max         129.96
Name: discount, dtype: float64

In [12]:
data_raw.markdown.describe()

count   1131329.00
mean          4.88
std           9.43
min         -19.00
25%           0.00
50%           0.00
75%          10.00
max          90.00
Name: markdown, dtype: float64

In [13]:
data_raw.article_count.describe()

count   1131329.00
mean          8.52
std          10.84
min           1.00
25%           2.00
50%           5.00
75%          11.00
max         281.00
Name: article_count, dtype: float64

In [14]:
data_raw.revenue.describe()

count   1131329.00
mean        317.27
std         385.77
min         -47.96
25%          86.28
50%         190.95
75%         397.12
max       13403.60
Name: revenue, dtype: float64

In [15]:
# there are some really ridiculous outliers here
data_raw.stock_total.describe()

count   1131329.00
mean       2162.84
std        1960.91
min         106.00
25%         910.00
50%        1737.00
75%        2956.00
max       36396.00
Name: stock_total, dtype: float64

In [16]:
# max value of this is above 100%, probably an accumulated rounding error, but still there
data_raw.avq.describe()

count   1131329.00
mean         30.12
std          22.89
min           0.00
25%          10.24
50%          26.28
75%          46.08
max         100.25
Name: avq, dtype: float64

In [17]:
data_raw.time_on_sale.describe()

count   1131329.00
mean         87.38
std          50.69
min           0.00
25%          44.00
50%          86.00
75%         130.00
max         181.00
Name: time_on_sale, dtype: float64

In [18]:
data_raw.season.unique()

[Sommer, Winter]
Categories (2, object): [Sommer, Winter]

In [19]:
data_raw.season.value_counts()

Sommer    608555
Winter    522774
Name: season, dtype: int64

In [20]:
data_raw.brand.unique()

[Fimmilena, Gersimi, Loki, Turstuahenae, Börr, ..., Tamfana, Grusduahenae, Hludana, Axsinginehae, Surt]
Length: 75
Categories (75, object): [Fimmilena, Gersimi, Loki, Turstuahenae, ..., Grusduahenae, Hludana, Axsinginehae, Surt]

In [21]:
data_raw.brand.value_counts()

Fimmilena                80414
Friagabis                67652
Odin                     61249
Mercurius Arvernus       57428
Gautr                    49942
Freyr                    47246
Turstuahenae             45741
Mani                     42010
Gna                      40425
Travalaha                39358
Gersimi                  36879
Hercules Deusoniensis    33365
Alaisiagae               33121
Tyr                      31710
Nersihenae               29866
Snotra                   27352
Heimdall                 26767
Baudihillia              26637
Lodur                    26524
Tuisto                   24391
Beda                     23583
Burorina                 22741
Loki                     21181
Kolga                    18010
Hymir                    17328
Almaviahenae             15899
Mercurius Hranno         15218
Uller                    12963
Alaferhviae              11627
Siofna                   10038
                         ...
Hermodr                   3591
Mahalinehae               3581
Nornen                    3432
Vacallinehae              3087
Þorgerðr Holgabrúðr       2743
Abiamarcae                2718
Forseti                   2496
Hludana                   2302
Grusduahenae              2223
Baduhenna                 2143
Idun                      2106
Gratichae                 1646
Hurstrga                  1597
Sunuxsal                  1288
Hödur                      746
Axsinginehae               689
Surt                       689
Thor                       682
Vili                       545
Sif                        509
Alaterviae                 429
Dise                       427
Gausus                     373
Mars Halamardus            315
Ahinehiae                  312
Vagdavercustis             306
Aufaniae                   302
Hariasa                    276
Tamfana                    220
Dag                        138
Name: brand, Length: 75, dtype: int64

In [22]:
data_raw.color.unique()

[mittelbraun, weiss / blau, mittelgrau, mittelblau, pink, ..., multicolor, gelb, bordeauxrot, rost, ockergelb]
Length: 40
Categories (40, object): [mittelbraun, weiss / blau, mittelgrau, mittelblau, ..., gelb, bordeauxrot, rost, ockergelb]

In [23]:
data_raw.color.value_counts()

schwarz                 241952
dunkelblau              123768
schwarz / kombiniert     86090
mittelbraun              83882
mittelgrau               70582
dunkelbraun              63788
dunkelgrau               59419
mittelblau               48198
beige                    45278
hellgrau                 34078
pink                     25904
rosa                     25158
weiss / kombiniert       23074
weiss                    20395
bordeauxrot              16246
hellbraun                13932
camel                    13532
rot                      11809
beige / kombiniert       11440
lila                     10254
hellblau                  9451
silber                    9379
offwhite                  9185
türkis                    8905
multicolor                8825
gold                      7560
graublau                  6026
khaki                     5787
olivegrün                 5595
gelb                      4684
mintgrün                  4456
orange                    3892
hellgrün                  3735
bronze/kupfer             3190
grün                      2879
flieder                   2838
weiss / schwarz           2458
weiss / blau              2267
rost                      1359
ockergelb                   79
Name: color, dtype: int64

In [24]:
sorted(data_raw.Abteilung.unique())

['Abteilung001',
 'Abteilung002',
 'Abteilung003',
 'Abteilung004',
 'Abteilung005',
 'Abteilung006',
 'Abteilung007']

In [25]:
data_raw.Abteilung.value_counts()

Abteilung002    498997
Abteilung006    193979
Abteilung007    187587
Abteilung005    180148
Abteilung004     39318
Abteilung001     27338
Abteilung003      3962
Name: Abteilung, dtype: int64

In [26]:
sorted(data_raw.WHG.unique())

['WHG001',
 'WHG002',
 'WHG003',
 'WHG004',
 'WHG005',
 'WHG006',
 'WHG007',
 'WHG008',
 'WHG009',
 'WHG010',
 'WHG011',
 'WHG012',
 'WHG013',
 'WHG014',
 'WHG015',
 'WHG016',
 'WHG017',
 'WHG018',
 'WHG019',
 'WHG020',
 'WHG021',
 'WHG022',
 'WHG023',
 'WHG024',
 'WHG025',
 'WHG026',
 'WHG027',
 'WHG028',
 'WHG029',
 'WHG030',
 'WHG031',
 'WHG032',
 'WHG033',
 'WHG034',
 'WHG035',
 'WHG036',
 'WHG037',
 'WHG038',
 'WHG039',
 'WHG040',
 'WHG041',
 'WHG042',
 'WHG043']

In [27]:
data_raw.WHG.value_counts()

WHG015    127617
WHG021     97384
WHG012     81274
WHG041     70765
WHG007     70756
WHG034     68770
WHG010     64345
WHG042     63158
WHG009     62041
WHG043     44714
WHG006     40790
WHG038     33813
WHG022     31091
WHG023     30699
WHG035     26695
WHG032     24197
WHG028     18692
WHG008     17777
WHG005     16871
WHG036     15863
WHG001     13898
WHG026     13342
WHG014     10194
WHG037      9755
WHG002      7333
WHG027      6644
WHG033      6261
WHG003      6107
WHG019      6039
WHG020      5993
WHG039      5669
WHG025      5309
WHG031      4767
WHG030      3858
WHG013      3779
WHG040      3281
WHG018      3217
WHG017      2937
WHG011      2177
WHG004      1376
WHG016      1025
WHG029       640
WHG024       416
Name: WHG, dtype: int64

In [28]:
sorted(data_raw.WUG.unique())

['WUG001',
 'WUG002',
 'WUG003',
 'WUG004',
 'WUG005',
 'WUG006',
 'WUG007',
 'WUG008',
 'WUG009',
 'WUG010',
 'WUG011',
 'WUG012',
 'WUG013',
 'WUG014',
 'WUG015',
 'WUG016',
 'WUG017',
 'WUG018',
 'WUG019',
 'WUG020',
 'WUG021',
 'WUG022',
 'WUG023',
 'WUG024',
 'WUG025',
 'WUG026',
 'WUG027',
 'WUG028',
 'WUG029',
 'WUG030',
 'WUG031',
 'WUG032',
 'WUG033',
 'WUG034',
 'WUG035',
 'WUG036',
 'WUG037',
 'WUG038',
 'WUG039',
 'WUG040',
 'WUG041',
 'WUG042',
 'WUG043',
 'WUG044',
 'WUG045',
 'WUG046',
 'WUG047',
 'WUG048',
 'WUG049',
 'WUG050',
 'WUG051',
 'WUG052',
 'WUG053',
 'WUG054',
 'WUG055',
 'WUG056',
 'WUG057',
 'WUG058',
 'WUG059',
 'WUG060',
 'WUG061',
 'WUG062',
 'WUG063',
 'WUG064',
 'WUG065',
 'WUG066',
 'WUG067',
 'WUG068',
 'WUG069',
 'WUG070',
 'WUG071',
 'WUG072',
 'WUG073',
 'WUG074',
 'WUG075',
 'WUG076',
 'WUG077',
 'WUG078',
 'WUG079',
 'WUG080',
 'WUG081',
 'WUG082',
 'WUG083',
 'WUG084',
 'WUG085',
 'WUG086',
 'WUG087',
 'WUG088',
 'WUG089',
 'WUG090',
 'WUG091',
 'WUG092',
 'WUG093',
 'WUG094',
 'WUG095',
 'WUG096',
 'WUG097',
 'WUG098',
 'WUG099',
 'WUG100',
 'WUG101',
 'WUG102',
 'WUG103',
 'WUG104',
 'WUG105',
 'WUG106',
 'WUG107',
 'WUG108',
 'WUG109',
 'WUG110',
 'WUG111',
 'WUG112',
 'WUG113',
 'WUG114',
 'WUG115',
 'WUG116',
 'WUG117',
 'WUG118',
 'WUG119',
 'WUG120',
 'WUG121',
 'WUG122',
 'WUG123',
 'WUG124',
 'WUG125',
 'WUG126',
 'WUG127',
 'WUG128',
 'WUG129',
 'WUG130',
 'WUG131',
 'WUG132',
 'WUG133',
 'WUG134',
 'WUG135',
 'WUG136',
 'WUG137',
 'WUG138',
 'WUG139',
 'WUG140',
 'WUG141',
 'WUG142',
 'WUG143',
 'WUG144',
 'WUG145',
 'WUG146',
 'WUG147',
 'WUG148',
 'WUG149',
 'WUG150',
 'WUG151',
 'WUG152']

In [29]:
data_raw.WUG.value_counts()

WUG053    51719
WUG051    45415
WUG020    43908
WUG033    37102
WUG015    35320
WUG029    34676
WUG139    34322
WUG136    30380
WUG073    30065
WUG040    29646
WUG138    28836
WUG146    25695
WUG137    25207
WUG045    24771
WUG069    22627
WUG072    19309
WUG115    18988
WUG105    17855
WUG018    17339
WUG140    15178
WUG107    14349
WUG046    13305
WUG117    13173
WUG001    13151
WUG114    12276
WUG055    12179
WUG118    11672
WUG077    11526
WUG035    11417
WUG081    11342
          ...
WUG083     1014
WUG150      998
WUG060      917
WUG011      895
WUG124      771
WUG002      747
WUG101      640
WUG061      623
WUG009      591
WUG008      479
WUG122      478
WUG142      465
WUG091      453
WUG032      452
WUG087      416
WUG065      341
WUG044      324
WUG007      306
WUG096      293
WUG024      213
WUG047      212
WUG095      162
WUG133      158
WUG028      154
WUG098      143
WUG039      136
WUG012      132
WUG004      124
WUG075      122
WUG123       67
Name: WUG, Length: 152, dtype: int64